@charset "UTF-8";

.bandeira{
    flex-direction: row;
}

.slide-title {
  bottom: 10%;
}

.slide h2 {
  font-size: 2em;

}

.visivel{
    display: none;
  }

.areas{
    font-size: 1em;
  }

  
.oculto{
    display: block;
    }

.area-principal{

flex-direction: row;

}

.ft-atuacao{
    height: 700px;
    
}
.imagem-destaque{
  width: 40%;
  margin-right: 50px;
  
}


.adv-section {
  flex-direction: row;
  width: 100%;

 }
 

 .adv-slider {
  max-width: 400px;

}

.adv-text {
  max-width: 350px;
 
}

.footer{
  height: 300px;
}

.sessao-footer{

  justify-content: start;
  flex-direction: row;
  
}

.links-uteis > li{
  font-size: 1.3em;
  margin: 20px 0px;
}

.sessao-footer > div{
margin-top: 25px;
margin-right: 60px;
}

.form {
    
  width: 300px;
  font-size: 1.125rem;
}

.links-uteis > li{
  font-size: 1.3em;
  margin: 20px 0px;
}

.sessao-footer > div{
margin-top: 25px;
margin-right: 60px;
}

